
.header{clear: both;}
.annimaoclass table tr td{height: 80px;}
.myneedsy a{color: red;}

.baike1{width: 100%; text-align: center;height: 300px;}
.baike2{width:1000px; height: 1000px; margin:35px auto;}
.baike1 .baike2 .right{ width:750px;border: 1px solid #ADADAD; float: right; margin-top: 20px; padding-bottom: 30px;}
.baike1 .baike2 .leftbaiwen{ width: 200px; height:300px;  position: fixed; top:50px;}
.baike1 .baike2 .leftbaiwen .action{height: 56px; line-height: 56px; text-align: center; margin-top: 4px; background-color: #ffb974; color: #FFFFFF; font-size: 20px; cursor: pointer;}
.baike1 .baike2 .right .righttop{width: 100%; height: 40px; line-height: 40px; background-color: #ADADAD; text-align: left; font-size: 20px;}
.baike1 .baike2 .right .righttop2{color: #fe6600; width: 100%;height: 60px; line-height: 60px; text-align: left; font-size: 18px;clear: both;}
.baike1 .baike2 .right hr{width: 95%; margin: 0px auto;}
.baike1 .baike2 .right span{width: 25%;}
.baike1 .baike2 .right .fontinfo div{float: left; width: 25%; margin-top:10px;}
.baike1 .baike2 .left .action1{height: 56px; line-height: 56px; text-align: center; margin-top: 4px; background-color: #fd9229; color: #FFFFFF; font-size: 20px; cursor: pointer;}

.fontinfo a{color: #000000;}
.fontinfo a:hover{color: #1460ac;}
.baike1 .baike2 .leftset.action a{text-decoration: none;}
